/* Write the CSS for you answer here */
body {
}

.backgroundDiv {
    z-index: 0;
    background-image: url("assets/landscape.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
#pohutukawa {
    z-index: 1;
    width: 700px;
    height: 541px;
    position: absolute;
}

.div1 {
    width: 700px;
    height: 541px;
    margin: 0 auto;
}

.ball {
    z-index: 2;
}

#blue {
    left: 300px;
    top: 120px;
    position: relative;
}

#darkblue {
    left: 100px;
    top: 300px;
    position: relative;
}

#green {
    z-index: 0;
    left: 200px;
    top: 200px;
    position: relative;
}

#orange {
    left: 350px;
    top: 250px;
    position: relative;
}

#pink {
    left: 400px;
    top: 200px;
    position: relative;
}

#red {
    left: 100px;
    top: 200px;
    position: relative;
}




